#===============================================================================
# .gitignore
#
# Git Ignore
#
# Author: Kyle W T Sherman <kylewsherman@gmail.com>
#===============================================================================

# emacs backup files
*~
# emacs autosave files
\#*\#
# emacs byte-compile files
*\.elc

#===============================================================================
# End of File
#===============================================================================
