#===============================================================================
# .gitignore
#
# Git Ignore
#
# Author: Kyle W T Sherman <kylewsherman@gmail.com>
#===============================================================================

# rcs version control files
RCS
#.+,v

# cvs version control files
CVS
\.cvsignore
# cvs conflict files / emacs lock files
\.\#*

# svn version control files
\.svn
\.hg
_darcs

# emacs backup files
*~
# emacs autosave files
\#*\#

# mac files
\.DS_Store

#===============================================================================
# End of File
#===============================================================================
