#=============================================================================
# .gitignore
#
# Git Ignore
#
# Author: Kyle W T Sherman
#=============================================================================

# rcs version control files
RCS
.+,v

# cvs version control files
CVS
\.cvsignore
# cvs conflict files / emacs lock files
\.\#.+

# svn version control files
\.svn
_darcs
\.hg

# emacs backup files
.+~
# emacs autosave files
\#.*\#

# mac files
\.DS_Store

#===============================================================================
# End of File
#===============================================================================
