* {
    all: unset;
}

/* global styles */

.bar {
    /* background-color: #3A3A3A; */
    /* background-color: rgba(58, 58, 58, .50); */
    background-color: rgba(29, 29, 29, .60);
    color: #cfcfcf;
    padding: 12px;
}

/* class styles */

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #d35d6e;
    color: #000000;
    border-radius: 10px;
}

.workspaces {
    margin-left: 10px;
}

.workspaces button:hover {
    /* color: #d35d6e; */
    color: #5e81ac;
}

.music-state {
    color: #5e81ac;
}

.status {
    margin-right: 10px;
}

.status slider {
    all: unset;
    color: #ffd5cd;
}

.label-ram {
    font-size: large;
}
