* {
    all: unset;
}

/* Windows */

.bar {
    background-color: rgba(29, 29, 29, .60);
    color: #AFAFAF;
    font-weight: bold;
}

/* Widgets */

.left-bar {
    margin-left: 10px;
}

.right-bar {
    margin-right: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4E4E4E;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin-left: 10px;
    /* margin-right: 10px; */
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    border-radius: 10px;
}

/* Shared */

slider {
    all: unset;
    color: #FFD5CD;
}

button:hover {
    color: #FFFFFF;
    /* color: #D35D6E; */
    /* color: #BF5F5F; */
    /* color: #5E81AC; */
}

.highlight {
    color: #FFFFFF;
    /* color: #CFCF00; */
    /* color: #5E81AC; */
}

.music-state {
    /* color: #5E81AC; */
}
