[Desktop Entry]
Name=Android Studio
Comment=Android Integrated Development Environment
Exec=/home/kyle/android-studio/bin/studio.sh
Type=Application
Icon=/home/kyle/android-studio/bin/studio.png
Terminal=false
StartupNotify=true
Categories=Development;IDE;Android;
StartupWMClass=jetbrains-android-studio
