[Desktop Entry]
Name=Android Studio
Comment=Android Integrated Development Environment
Exec=sh -c "\\${HOME}/android-studio/bin/studio.sh"
Type=Application
Icon=/home/kyle/android-studio/bin/studio.png
Terminal=false
StartupNotify=true
Categories=Development;IDE;X-Android;
StartupWMClass=jetbrains-android-studio
