[Desktop Entry]
Name=Basilisk II
Comment=Basilisk II Macintosh Emulator
Exec=BasiliskII
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;X-Emulators;X-Macintosh;
