[Desktop Entry]
Name=Basilisk II (Macintosh Emulator)
Comment=Macintosh Emulator
Exec=BasiliskII
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;X-Emulators;X-Macintosh;
