[Desktop Entry]
Name=Keyboard
Comment=Virtual Keyboard
Exec=matchbox-keyboard ; xdotool search --name matchbox-keyboard windowsize 1280 266 windowmove 2 549
Type=Application
Icon=matchbox-keyboard
Terminal=false
StartupNotify=false
Categories=Panel;Utility;MB
X-MB-INPUT-MECHANSIM=True
