[Desktop Entry]
Name=Qmmp
GenericName=Audio player
Comment=Launch Qmmp and move it to the right size of the screen
Exec=sh -c "\\${HOME}/bin/run-qmmp"
Type=Application
Icon=qmmp
Terminal=false
StartupNotify=true
Categories=AudioVideo;Player;Audio;Qt;
