[Desktop Entry]
Name=Raspad Rotate Normal
Comment=Rotate Raspad screen and touchpad to the normal position
Exec=/home/kyle/bin/raspad-rotate --normal
Type=Application
Icon=up
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
