[Desktop Entry]
Version=1.0
Type=Application
Name=Raspad Rotate Inverted
Comment=Rotate Raspad screen and touchpad to the inverted position
Exec=/home/kyle/bin/raspad-rotate --inverted
Icon=down
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
