[Desktop Entry]
Name=Raspad Rotate Right
Comment=Rotate Raspad screen and touchpad to the right position
Exec=sh -c "${HOME}/bin/raspad-rotate --right"
Type=Application
Icon=go-next
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
