[Desktop Entry]
Name=Raspad Rotate Inverted
Comment=Rotate Raspad screen and touchpad to the inverted position
Exec=/home/kyle/bin/raspad-rotate --inverted
Type=Application
Icon=down
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
