[Desktop Entry]
Name=Raspad Rotate Left
Comment=Rotate Raspad screen and touchpad to the left position
Exec=/home/kyle/bin/raspad-rotate --left
Type=Application
Icon=previous
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
