[Desktop Entry]
Name=Raspad Rotate Right
Comment=Rotate Raspad screen and touchpad to the right position
Exec=/home/kyle/bin/raspad-rotate --right
Type=Application
Icon=next
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
