[Desktop Entry]
Version=1.0
Type=Application
Name=Rotate HDMI-1 Inverted
Comment=Send xrandr command to rotate the HDMI-1 screen to the inverted position
Exec=sh -c 'xrandr --output HDMI-1 --rotate inverted'
Icon=down
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
