[Desktop Entry]
Version=1.0
Type=Application
Name=Rotate HDMI-1 Left
Comment=Send xrandr command to rotate HDMI-1 screen to the left position
Exec=sh -c 'xrandr --output HDMI-1 --rotate left'
Icon=previous
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
