[Desktop Entry]
Version=1.0
Type=Application
Name=Rotate HDMI-1 Normal
Comment=Send xrandr command to rotate the HDMI-1 screen to the normal position
Exec=sh -c 'xrandr --output HDMI-1 --rotate normal'
Icon=go-up
Terminal=false
StartupNotify=false
Categories=Accessibility;Screen;
