[Desktop Entry]
Name=Temperature Test
Comment=Run Temperature Test Script
Exec=sh -c "${HOME}/bin/temperature-test -c 100"
Type=Application
Icon=psensor_hot
Terminal=true
StartupNotify=true
Categories=System;
