[Desktop Entry]
Name=xkill
Comment=X-Kill Selected Application
Exec=xkill
Type=Application
Icon=edit-delete
Terminal=false
StartupNotify=false
Categories=System;
