#===============================================================================
# .config/systemd/user/lcars.service
#
# Configuration for systemd user lcars service.
#
# Enable:   systemctl --user enable lcars.service
# Start:    systemctl --user start lcars.service
# Stop:     systemctl --user stop lcars.service
# Disable:  systemctl --user disable lcars.service
#
# Reference:  https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=LCARS Screen Saver

[Service]
Type=simple
ExecStart=/home/kyle/bin/lcars

[Install]
WantedBy=default.target

#===============================================================================
# <<eof>>
#===============================================================================
