#===============================================================================
# .config/systemd/user/mpdris.service
#
# Configuration for systemd user mpdris service.
#
# Enable:   systemctl --user enable mpdris.service
# Start:    systemctl --user start mpdris.service
# Stop:     systemctl --user stop mpdris.service
# Disable:  systemctl --user disable mpdris.service
#
# Reference: https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=MPRIS 2 support for mpd

[Service]
ExecStart=/usr/sbin/mpDris2

[Install]
WantedBy=default.target

#===============================================================================
# End of File
#===============================================================================
