#===============================================================================
# .config/systemd/user/numlockx.service
#
# Configuration for systemd user numlockx service.
#
# Enable:   systemctl --user enable numlockx.service
# Start:    systemctl --user start numlockx.service
# Stop:     systemctl --user stop numlockx.service
# Disable:  systemctl --user disable numlockx.service
#
# Reference: https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=Turn Keyboard Num-Lock On

[Service]
Type=oneshot
RemainAfterExit=yes;
ExecStart=/usr/sbin/numlockx

[Install]
WantedBy=default.target

#===============================================================================
# End of File
#===============================================================================
