#===============================================================================
# .config/systemd/user/setxkbmap.service
#
# Configuration for systemd user setxkbmap service.
#
# Enable:   systemctl --user enable setxkbmap.service
# Start:    systemctl --user start setxkbmap.service
# Stop:     systemctl --user stop setxkbmap.service
# Disable:  systemctl --user disable setxkbmap.service
#
# Reference: https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=Keyboard Mappings: Both Shift Keys -> CapsLock, CapsLock -> Control

[Service]
Type=oneshot
ExecStart=/usr/sbin/setxkbmap -option 'shift:both_capslock,caps:ctrl_modifier'

[Install]
WantedBy=default.target

#===============================================================================
# End of File
#===============================================================================
