#===============================================================================
# .config/systemd/user/sxhkd.service
#
# Configuration for systemd user sxhkd service.
#
# Enable:   systemctl --user enable sxhkd.service
# Start:    systemctl --user start sxhkd.service
# Stop:     systemctl --user stop sxhkd.service
# Disable:  systemctl --user disable sxhkd.service
#
# Reference:  https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=A grabbing keys program for X

[Service]
ExecStart=/usr/sbin/sxhkd -c ${HOME}/.config/sxhkd/sxhkdrc $([[ "${XDG_CURRENT_DESKTOP}" == "Bspwm" ]] && echo "-c ${HOME}/.config/sxhkd/sxhkdrc-bspwm")

[Install]
WantedBy=default.target

#===============================================================================
# End of File
#===============================================================================
