#===============================================================================
# .config/systemd/user/xautolock.service
#
# Configuration for systemd user xautolock service.
#
# Enable:   systemctl --user enable xautolock.service
# Start:    systemctl --user start xautolock.service
# Stop:     systemctl --user stop xautolock.service
# Disable:  systemctl --user disable xautolock.service
#
# Reference: https://wiki.archlinux.org/index.php/Systemd/User
#===============================================================================

[Unit]
Description=Fire up programs in case of user inactivity under X

[Service]
ExecStart=/usr/sbin/xautolock -time 30 -locker 'xscreensaver-command -lock'

[Install]
WantedBy=default.target

#===============================================================================
# End of File
#===============================================================================
