#=============================================================================
# .gitconfig
#
# Git Config
#
# Author: Kyle W T Sherman
#=============================================================================

[user]
    name = Kyle Sherman
    email = kylewsherman@gmail.com

[pull]
    rebase = false

[checkout]
    defaultRemote = origin

#===============================================================================
# End of File
#===============================================================================
