#===============================================================================
# .gitconfig
#
# Git Config
#
# Author: Kyle W T Sherman <kylewsherman@gmail.com>
#===============================================================================

[user]
    name = Kyle Sherman
    email = kylewsherman@gmail.com

[core]
    autocrlf = input
    safecrlf = false

[init]
    defaultBranch = master

[pull]
    rebase = false

[checkout]
    defaultRemote = origin

#===============================================================================
# End of File
#===============================================================================
